#exampleFormControlTextarea1 {
  resize: none;
  overflow: hidden;
}

.card {
  border: none;
  border-radius: 0;
}

header {
  min-height: 15vh !important;
}

main {
  min-height: 72vh !important;
}

.contact-main {
  min-height: 74.2vh !important;
}

.details-main {
  min-height: 70.7vh !important;
}

.blank-event {
  visibility: hidden !important;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: #ffffff6b !important;
  width: 4vw !important;
  height: 4vh !important;
  border-radius: 50%;
  top: 50% !important;
  transform: translateY(-50%);
}

.carousel-control-prev span,
.carousel-control-next span {
  width: 1.5rem;
  height: 1.5rem;
}

.details-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#loading-spinner {
  display: none;
}

@media only screen and (min-width: 577px) {
  .cards-w {
    display: flex;
  }

  .card {
    margin: 0 0.5em;
    width: calc(100% / 3);
  }

  .image-w {
    height: 22vw;
    margin: 0 auto;
  }
}

.image-w img {
  max-width: 100%;
  max-height: 100%;
}

@media only screen and (max-width: 567px) {
  .searchbar {
    width: 100%;
  }

  .carousel-control-prev,
  .carousel-control-next {
    width: 5vh !important;
    height: 5vh !important;
  }
}

.blank-card {
  background-color: transparent !important; /* Fondo transparente */
  border: none !important; /* Sin bordes */
  box-shadow: none !important; /* Sin sombra */
  color: transparent !important; /* Texto transparente */
}
